/* Menu for Inst-Survey-Section page */

/* group heading */
div.bn101 div.group {
    padding: 0.5em 0 0 0;
}

/* group heading */
div.bn101 h3 {
}

/* links */
div.bn101 ul {
}
div.bn101 li {
    list-style-type: none;
}
div.bn101 li.link {
    padding: 0 0 0.4em 0;
}
div.bn101 li.link a {
    color: #ac1b33;
}
div.bn101 li.link a:hover {
    color: #000;
}
div.bn101 li.link a > span {
    font-size: 1.1em;
}

/* intro */
div.bn101 p {
    max-width: 55em;
}
div.bn101 p > span {
    font-size: 0.9em;
}
