/**/
@import url('../../comp/project/view102.css');
@import url('../../comp/project/view103.css');


div.viewA {
    margin-bottom: 45px;
    max-width: 1000px;
}

div.view102 {
    margin-bottom: 45px;
}

div.view103 {
}

div.comp-g-video {
    display: none;
}

@media print {

    #view103 {
        page-break-inside: avoid;
    }

}