/*  Project - Analyses - Benchmarks - At a glance - [Subgroup] */
@import url('../../comp/project-analyses/view107.css');

div.comp-g-video {
    display: none;
}
div.comp-g-note {
    display: none;
}


@media print {

    #view107 {
        page-break-inside: avoid;
    }

    div.comp-g-note {
        display: block;
    }
}
