/* Project - Analyses - Global - How to Improve */
@import url('../../comp/project-analyses/view108.css');
@import url('../../comp/project-analyses/view109c.css');

div.comp-g-video {
    display: none;
}
div.comp-g-note {
    display: none;
}

div.compA,
div.view108,
div.view109c {
    margin-bottom: 45px;
}

div.compA {
}

@media print {

    div.compA,
    div.view108 {
        margin-bottom: 0;
    }

    div.compA p,
    div.view108 div.head p {
        font-size: 13px;
    }

    #view108 h3 {
        display: none;
    }
    #view108 div.body {
        page-break-inside: avoid;
    }

}
