/* Project - Analyses - Global - [Aspects] */
@import url('../../comp/project-analyses/view105c.css');
@import url('../../comp/project-analyses/view106.css');


div.comp-g-video {
    display: none;
}
div.comp-g-note {
    display: none;
}

div.view105c, div.view106 {
    margin-bottom: 45px;
}

@media print {

    div.comp-g-note {
        display: block;
    }

    div.view105c h3,
    div.view105c div.head {
        display: none;
    }

    #view105c {
        page-break-inside: avoid;
    }

}