/* View 104: Benchmarks by Divisions */


/**/
div.view104b {
  position: relative;
  width: auto; height: auto;
  padding-bottom: 100px;
  padding-right: 100px;
}
div.view104b > div.body {
  position: relative;
  font-size: 15px;
}

/* -- Block > Control -- */
div.view104b > div.control {
  width: 500px; height: auto;
  padding: 0.3em 0.5em 0.3em 0.5em;
  background: #f2f2f2;
  max-height: 30em;
  overflow-y: auto;
  box-shadow: 1px 1px 2px 1px gray;
}
div.view104b > div.control div.guide {
  font-style: italic;
}
div.view104b > div.control ul {
  padding: 0 0 0 0;
  list-style: none;
}
div.view104b > div.control li {
  list-style: none;
}
div.view104b > div.control li.checkall {
  margin: 0 0 1.33em 0;
  border-bottom: solid 1px gray;
  padding: 1em 0 1em 0;
}
div.view104b > div.control li.divn {
  margin: 0 0 0.67em 0;
  padding-left: 2.67em ;
  text-indent: -2.67em ;
}
div.view104b > div.control li.divn span.symbol {
  font-weight: bold;
}
div.view104b > div.control li.divn span.name {
  font-size: 0.9em;
}

/* Block > Tbar */
div.view104b > div.tbar {
  z-index: 2;
  position: relative;
  margin: 0 0 1em 0;
  text-align: right;
}
div.view104b > div.tbar > div.link {
  display: inline-block;
  height: 20px;
  padding: 0.4em 1em;
}
div.view104b > div.tbar > div.link:hover {
  color: gray;
  cursor: pointer;
}
div.view104b > div.tbar > div.link > span {
  font-size: 1em;
  color: black;
}
div.view104b > div.tbar > div.link > span b {
  font-weight: normal;
  color: gray;
}
div.view104b > div.tbar a.control {
}

/* -- Block > Body -- */
div.view104b div.chart {
  display: inline-block;
  position: relative;
  margin: 0 0 0 0;
  padding-bottom: 4em;
}
div#view104b div.chart > div.results {
  margin: 0 0 0 3.5em;
  padding-left: 0.7em;
  border-left: dotted 1px gray;
}

/* Block > Body > Chart > Values and X-axis */
div.view104b div.chart table.values,
div.view104b div.chart table.axis_x {
  border-collapse: collapse;
}
div.view104b div.chart table.values td,
div.view104b div.chart table.axis_x td {
  width: 2.5em;
  padding: 0 0;
}
div.view104b div.chart table.values td div,
div.view104b div.chart table.axis_x td div {
  padding: 0 0;
}

/* Block > Body > Chart > Values */
div.view104b div.chart table.values {
}
/* ..Values rows */
div.view104b div.chart table.values tr {
}
/* ..Values cells */
div.view104b div.chart table.values td {
  height: 600px;
  text-align: center;
}
div.view104b div.chart table.values td:hover {
  background: #f2f2f2;
}
/* ..Values cells - inner container */
div.view104b div.chart table.values td div {
  position: relative;
  height: 100%; width: 100%;
  padding: 0 0;
  text-align: center;
}
/* ..Division symbols */
div.view104b div.chart table.values td span {
  position: absolute;
  z-index: 1;
}


/* Block > Body > Chart > X_axis */
/* ..Table */
div.view104b div.chart table.axis_x {
  position: relative; top: -7.47em;
  background: #fff;
}
/* ..Cell - bm */
div.view104b div.chart table.axis_x td {
  position: relative;
  height: 120px;
}
/* ..option 1 */
div.view104b div.chart table.axis_x td div {
  position: absolute; top: -3em; left: 4.2em;
  width: 0.67em; height: 100%;
  direction: rtl;
  transform: rotate(270deg);
  white-space: nowrap;
  text-align: right;
}


/* Block > Body > Chart > Axis_y */
div.view104b div.chart div.axis_y {
  width: 96%; height: auto;
  position: absolute; top: 0; left: 2.67em;
}
div.view104b div.chart div.axis_y div.y {
  width: 100%; height: 59px;
  border-top: dotted 1px gray;
  position: relative;
}
div.view104b div.chart div.axis_y div span {
  position: absolute; top: -10px; left: -22px;
}





