/* View 114: Retention & Negotiation Theme - Q235 & Q260 Frequencies */

div.view114b {
}

/* --- Block.Head --- */

div.view114b > div.head {
}


/* --- Block.Body --- */

div.view114b > div.body {
    font-size: 10px;
    position: relative;
}

/* Block > Body > Chart */
div.view114b > div.body > div.chart {
    position: relative;
}
/* Block > Body > Chart.ChartExport */
div.view114b > div.body > div.chart.chartExport {
    position: relative;
    text-align: right;
}
div.view114b > div.body > div.chart.chartExport a {
    font-size: 1.4em;
}
/* Block > Body > Chart.ChartScroll */
div.view114b > div.body > div.chart.chartScroll {
    background: #fff;
    box-shadow: 0 3px 2px #ddd;
}
div.view114b > div.body > div.chart.chartScroll > div.results {
    padding-bottom: 0;
}

/* Block > Body > Chart.ChartHead */
div.view114b > div.body > div.chart.chartHead {
    display: block;
    position: absolute; top: 0; left: 0; right: 0;
    z-index: -1;
}
div.view114b > div.body > div.chart.chartHead > div.results {
    padding-bottom: 1em;
}

/* Block > Body > Chart */
div.view114b div.body div.chart div.results {
    position: relative;
    width: 100%; height: auto;
    overflow-x: auto;
    padding-bottom: 2em;
}
div.view114b div.body div.chart div.fixedLabel {
    position: absolute; top: 0; left: 0;
    width: auto; height: auto;
    background: white;
    box-shadow: 3px 0 2px #ddd;
}
div.view114b div.body div.chart div.results,
div.view114b div.body div.chart div.fixedLabel {
}
div.view114b div.body div.chart table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
div.view114b div.body div.chart table tr td > div {
    padding: 0.4em 0.4em;
}
div.view114b div.body div.chart table tr td div > span {
    font-size: 1.4em;
}

/* Block.Body.Chart.Head */
div.view114b div.body div.chart table tr.head {
}
div.view114b div.body div.chart table tr.head.row1 td > div {
    height: 3.5em;
}
div.view114b div.body div.chart table tr.head:first-child td > div {
    padding-top: 1.5em;
}
div.view114b div.body div.chart table tr.head.row1 {
    border-bottom: solid 2px crimson;
}

/* Block.Body.Chart.Body */
div.view114b div.body div.chart table tr.body {
}
div.view114b div.body div.chart table tr.body:nth-child(odd) {
    background: #e9e9e9;
}
div.view114b div.body div.chart table tr.body:nth-child(even) {
    background: #fff;
}

/* Block.Body.Chart.Label */
div.view114b div.body div.chart table td.label {
}
div.view114b div.body div.chart table td.label > div {
}
div.view114b div.body div.chart table tr.head.row1 td.label > div,
div.view114b div.body div.chart table tr.body td.label > div {
    width: 30em;
}

/* Block.Body.Chart.Value */
div.view114b div.body div.chart table td.value {
}
div.view114b div.body div.chart table td.value > div {
    text-align: center;
}
div.view114b div.body div.chart table td.value.inst {
    border-left: solid 2px crimson;
}
div.view114b div.body div.chart table tr.head.row1 td.value > div,
div.view114b div.body div.chart table tr.body td.value > div {
    width: 5em;
}

/* Block.Body.Chart.Head.Span */
div.view114b div.body div.chart table tr.head td.span > div {
    text-align: center;
}

/* Block.Body.Chart.Head.Label */

/* Block.Body.Chart.Head.Value */
div.view114b div.body div.chart table tr.head.row2 td.value.inst {
    border-left: solid 2px crimson;
}

/* Block.Body.Chart.Head.Span */
div.view114b div.body div.chart table tr.head td.span > div {
    text-align: center;
}

/* Block.Body.Chart.Body.Span */

/* Block.Body.Chart.Body.Label */


/* Block.Body.Chart.Body.Value */




