/* --- View114: Retention and Negotiation --- */

div.view114 {
    font-size: 15px;
    margin: 0 0 4em 0;
}

/* --- Chart --- */
div.view114 div.chart {
    position: relative; 
    width: auto; height: auto;
}


/* --- Results --- */
div.view114 div.chart div.results {
    position: relative; 
    width: 100%; height: auto;
    overflow-x: auto;
    padding-bottom: 1em;
}

/* --- Fixed label --- */
div.view114 div.chart div.fixedLabel {
    position: absolute; top: 0em; left: 0em;
    background: white;
    border-right: solid 1px lightgray;
}



/* --- THead and Values --- */

div.view114 table {
    table-layout: fixed;
    border-collapse: collapse;
}
div.view114 table td div {
    padding: 0.2em 0;
}
div.view114 table td div > span {
    font-size: 0.9em;
}

/* Label */

/* Col 2: short name */
div.view114 td.label {
} 
div.view114 table.thead td.label div, 
div.view114 table.values td.label div {
    width: 20em;
    padding-left: 3px;
}

/* Cols: results */
div.view114 table.thead tr.row2 td.ag div,
div.view114 table.values td.ag div {
    width: 3.33em;
    text-align: center;
}


/* --- Thead only --- */

div.view114 table.thead td div {
}
div.view114 table.thead tr.row1 td div {
    text-align: center;
}
/*
div.view114 table.thead tr.row1 td div {  ag head 
    background: #e6e6e6;
}
*/


/* --- Values only --- */

div.view114 table.values {
    margin: 0.5em 0 0em 0;
}

/* Rows */
div.view114 table.values tr:nth-child(odd) {
    background: #e6e6e6;
}
div.view114 table.values tr:nth-child(even) {
    background: #fff;
}

div.view114 table.values td.ag div {
    color: gray;
}


/* --- Borders --- */

/* Thead bottom border: Red */
div.view114 table.thead tr.row2 td {
    border-bottom: solid 0.13em crimson;
}

/* AG crimson borders */
div.view114 table.thead tr.row2 td.all,
div.view114 table.values td.all {
    border-right: solid 0.13em crimson;
}
div.view114 table.thead tr.row2 td.all:last-child,
div.view114 table.values td.all:last-child {
    border-right: none;
}


